ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
    background-color:#C17B11;
}

li a {
    display: block;
    color: 2BC6B8;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: Chartreuse;
}
body {
    background-color: #BA55D3;
}
h1 {
    color: 1E0E8E;
}
p {
	color: #E03F18
}
